* {
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif; 
  background: #ffffe0;
}

nav {
  background: lightblue;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#logo {
  height: 86px;
}

#sun {
  height: 93px;
  right: 0px;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

#navList {
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 0px;
  margin: 12px 12px 12px 0px;
  font-size: 16px;
}

#linkList {
  display: none;
  order: 4;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  flex-direction: row;
  padding: 10px;
  top: 77px;
  right: 0px;
  list-style: none;
  text-decoration: none;
  background: lightblue;
}

#linkList li {
  margin: 10px;
}

.linkImage {
  display: none;
}

.hamburger {
  font-size: 40px;
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 13px;
  width: 0.9em;
  height: 0.9em;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  vertical-align: middle;
  border: 0 none;
  background: transparent;
}

.hamburger:before,
.hamburger:after {
  content: "";
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;
  width: 100%;
  height: .2em;
  margin: 0 0 .2em;
  transition: transform .2s ease-in-out;
  border-radius: .05em;
  background: #b5b9bd;
}

.hamburger:hover {
  background: #ff005896;
}


.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: red;
}

main {
  margin-top: 130px;
}

#startImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 111px;
  border-radius: 5px;
  background-color: white;
  border: 7px solid lightblue;
}

.startPage {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

h1 {
  width: 100%;
  text-align: center;
}

form {
  width: 80%;
  height: 50px;
  margin: auto;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 3px;
}


label {
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  background-color: white;
  border: 3px solid lightblue;
  font-size: 16px;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.button:hover {
  background-color: #11e47b54;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.uvResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
}

h2 {
  font-weight: bolder;
  text-align: center;
  font-size: 28px;
}

.results-description {
  font-size: 18px;
  text-align: center;
}

.results-value {
  font-size: 34px;
  margin: 12px;
  text-align: center;
}

.colorBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.inner {
  height: 50px;
  width: 17%;
  margin: 2px;
}

.inner-one {
   background-color: rgb(28, 211, 28);
}

.inner-two {
  background-color:yellow;
}

.inner-three {
  background-color: orange;
}

.inner-four {
  background-color: red;
}

.inner-five {
  background-color: purple;
}

.inner-green {
   background-color: rgb(28, 211, 28);
   height: 70px;
   width: 22%;
   border: 3px solid black;
}

.inner-yellow {
  background-color:yellow;
  height: 70px;
  width: 22%;
  border: 3px solid black;
}

.inner-orange {
  background-color: orange;
  height: 70px;
  width: 22%;
  border: 3px solid black;
}

.inner-red {
  background-color: red;
  height: 70px;
  width: 22%;
  border: 3px solid black;
}

.inner-violet {
  background-color: purple;
  height: 70px;
  width: 22%;
  border: 3px solid black;
}

h4 {
  font-size: 24px;
}

#results-list {
  list-style: none;
  width: 100%;
  font-size: 20px;
  margin-bottom: 35px;
  margin-top: 1px;
  padding-left: 15px;
}

.skinType {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

#results-list span {
  font-size: 21px;
  font-weight: bold;
  margin-left: 10px;
}

.skinImage {
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: white;
  border: 2px solid lightblue;
}

#protectionPage {
  padding: 20px;
  margin-top: 150px;
}

#protectionPage span {
  font-weight: bolder;
}

#protectionImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 111px;
  border-radius: 5px;
  background-color: white;
  border: 7px solid lightblue;
}

h3 {
  text-align: center;
  font-size: 28px;
}

.results-protection {
  font-size: 22px;
  margin: 50px 20px 50px 20px;
}

#forecastList {
  list-style: none;
  padding: 0px;
}

#weatherPage {
  display: flex;
  flex-direction: column;
}

.weatherImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 111px;
  border-radius: 5px;
  background-color: white;
  border: 7px solid lightblue;
}

.temperatureDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 10px;
}

#temp {
  position: relative;
}

#tempPic {
  height: 40px;
}

.weather-list {
  list-style: none;
  width: 100%;
  font-size: 20px;
  margin-bottom: 35px;
  margin-top: 1px;
  padding-left: 15px;
}

.weatherLi {
  display: flex;
  align-items: center;
  padding: 35px;
  margin-left: 0px;
}

.weatherIcon {
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: white;
  border: 2px solid lightblue;
}

@media screen  and (min-width: 760px) /* Tablet */ {
  

  nav {
    display: flex;
    justify-content: space-between;
  }

  #navList {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  #navList li {
    margin: 7px;
  }

  .linkImage {
    display: inline-block;
    height: 30px;
    position: relative;
    top: 8px;
    left: -3px;
}

  #sun {
    height: 100px;
  }

  .hamburger {
    right: 17px;
  }

  .inner {
    height: 60px;
  }

  .inner-green {
    height: 80px;
  }

  .inner-yellow {
    height: 80px;
  }

  .inner-orange {
    height: 80px;
  }

  .inner-red {
    height: 80px;
  }

  .inner-violet {
    background-color: purple;
    height: 80px;
  }

  #protectionPage {
    padding: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-list {
    list-style: none;
    justify-content: space-between;
    display: flex;
    width: 100%;
    font-size: 22px;
    padding-left: 0px;
  }

  .weatherIcon {
    height: 60px;
    border: 4px solid lightblue;
    margin-bottom: 15px;
  }

  .weatherLi {
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 980px) /* Desktop */ {
  
  #startImage {
    height: 150px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 27px;
  }

  form {
    width: 65%;
  }

  label {
    font-size: 24px;
  }

  input {
    font-size: 20px;
    height: 50px;
  }

  #logo {
    height: 103px;
  }

  .linkImage {
    display: inline-block;
    height: 30px;
    position: relative;
    top: 9px;
    left: -3px;
  }

  #navList {
    font-size: 22px;
  }

  .linkImage {
    height: 34px;
  }

  #linkList{
    font-size: 22px;
  }

  h2 {
    font-size: 38px;
  }

  .results-value {
    font-size: 45px;
    margin: 20px;
  }

  .results-description {
    font-size: 24px;
  }

  .color-bar {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .inner {
    height: 100px;
  }

  .inner-green {
    height: 130px;
  }

  .inner-yellow {
    height: 130px;
  } 

  .inner-orange {
    height: 130px;
  }

  .inner-red {
    height: 130px;
  }

  .inner-violet {
    background-color: purple;
    height: 130px;
  }

  h4 {
    font-size: 32px;
}

  #results-list {
    width: 100%;
    font-size: 28px;
    margin-bottom: 35px;
    margin-top: 1px;
    padding-left: 15px;
}

  #results-list span {
    font-size: 30px;
}

  .skinType {
   margin-left: 258px;
  } 

  .skinImage {
    height: 61px;
    margin-right: 18px;
    border: 4px solid lightblue;
  }

  .button {
    font-size: 20px;
    height: 50px;
    width: 65%;
  }

  .temperatureDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weather-list {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
  }

  .weatherIcon {
    height: 65px;
    border: 5px solid lightblue;
  }
}